<html>
  <meta charset="UTF-8" />
  <title>NanoPi Wi-Fi HotSpot Manager</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/materialdesignicons.min.css') }}" />
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon" />
</html>
<body>
  <div class="container">
    <h1 class="mb-4 page-header">NanoPi Wi-Fi HotSpot Manager</h1>
    <div class="row">
      <div id="connections-container">
        {% include 'connections.html' %}
      </div>
      <div class="col-10">
        {% include 'available_networks.html' %}
      </div>
      <div class="col-2">
        {% include 'known_networks.html' %}
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/status.js') }}"></script>
  <script>
    function togglePassword(checkbox) {
      const pwInput = checkbox.closest('form').querySelector('.password-input')
      if (checkbox.checked) {
        pwInput.classList.remove('hidden')
      } else {
        pwInput.classList.add('hidden')
        pwInput.value = ''
      }
    }
    const refreshButton = document.getElementById('refreshButton');
    refreshButton.addEventListener('click', () => {
      window.location.reload();
    });
  </script>
</body>
