<html>
  <meta charset="UTF-8" />
  <title>NanoPi Wi-Fi Manager</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/materialdesignicons.min.css') }}" />
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon" />
</html>
<body>
  <div class="container">
    <h1 class="mb-4 page-header">NanoPi Wi-Fi Manager</h1>
    <div class="row">
      <!-- Available Networks (80%) -->
      <div class="col-available">
        {% include 'available_networks.html' %}
      </div>

      <!-- Connected & Known (20%) -->
      <div class="col-sidebar">
        <div id="connections-container">
          {% include 'connections.html' %}
        </div>
        <div class="card">
          {% include 'known_networks.html' %}
        </div>
        
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/status.js') }}"></script>
  <script>
    function togglePassword(checkbox) {
      const pwInput = checkbox.closest('form').querySelector('.password-input')
      if (checkbox.checked) {
        pwInput.classList.remove('hidden')
      } else {
        pwInput.classList.add('hidden')
        pwInput.value = ''
      }
    }
  </script>
</body>
